# Database Connection (PostgreSQL Docker Container)
DATABASE_URL="postgresql://conteo_user:conteo_password@localhost:5432/conteo_votos_db?schema=public"

# SQLite Alternative (Desarrollo rápido local)
# DATABASE_URL="file:./dev.db"

# JWT Authentication Secret
JWT_SECRET="super-secret-key-vicerrectorado-2026"
JWT_EXPIRES_IN="24h"

# Application Ports
PORT=3000
